@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}



table {
    display: inline-block;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #c09962;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #DDB883;
}

main {
    padding: 16px;
    padding-bottom: 5em;
}

footer {
    font-variant: small-caps;
    font-weight: 500;
    font-size: 18px;
    padding: 24px 0px;
    text-indent: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    background-color: #5f3818;
}

img {
    height: 200px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 3px #552E2B;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #552E2B;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: green;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}

.hvisited:visited {
    color: #be9965;
    text-decoration: none;
}

.hhover:hover {
    color: green;
    transition: color 0.75s;
    font-size: larger;
}

.food-title-visited:visited {
    color: #552E2B;
}

.food-title-hover:hover {
    color: green;
    transition: color 0.75s, font-size 0.5s;
    transform: translateY(-3px);
    font-size: larger;
}

.title-text{
    color: #552E2B;
}

.sub-text {
    color: #642a26;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

h3:hover {
    transform: translateY(-3px);
  }

.bold {
    font-variant: small-caps;
    font-weight:700;
  }

 .slogan {
    color: rgb(27, 97, 27);
    font-style: italic;
  }
